body {
  background-color: black; }

.game-container {
  color: #cc7a08;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  background-color: black;
  border-radius: 0px;
  border: 6px solid #20265a;
  overflow: hidden; }

.points-container {
  margin: 0 auto;
  max-width: 700px;
  margin-top: 8px;
  color: #cc7a08; }

.menu {
  text-align: center;
  height: 100%; }

.menu-content {
  padding: 50px 50px;
  color: #cc7a08; }

p {
  display: inline; }

table {
  border: none;
  width: 100%;
  background-color: none;
  /* this can't match td color */ }

#myDynamicTable {
  display: none; }

td {
  background-color: transparent;
  /* outer, trimmed table secton. not apart of play field */
  border: 0px solid #f7f1e3;
  font-size: 10px;
  vertical-align: bottom;
  min-width: 12px;
  padding: 0 0 4px 0; }

td.color.wall {
  background-color: #3742fa !important; }

tr {
  line-height: 0px;
  height: 18px;
  /* 500px / 23 rows */ }

table, th, td {
  border: 0px;
  border-collapse: collapse;
  border: 0px solid transparent; }

/* walls */
.wall {
  background-color: black;
  border-top: 3px solid #20265a;
  border-bottom: 3px solid #20265a; }

.wall-left-end {
  border-left: 3px solid #20265a; }

.wall-right-end {
  border-right: 3px solid #20265a; }

/* characters */
.piece {
  position: relative;
  bottom: 50%;
  margin: 0 auto;
  width: 5px;
  height: 5px; }

.token {
  background-color: #f39c12 !important; }

.pellet {
  background-color: #6c4dc4 !important;
  width: 10px;
  height: 10px; }

.pacman {
  background-color: #ffee00 !important; }

.dead {
  background-color: black !important; }

.redghost {
  background-color: red !important;
  width: 10px;
  height: 10px; }

.pinkghost {
  background-color: #ffb8ff !important;
  width: 10px;
  height: 10px; }

.cyanghost {
  background-color: cyan !important;
  width: 10px;
  height: 10px; }

.orangeghost {
  background-color: #ffb852 !important;
  width: 10px;
  height: 10px; }

.fright {
  background-color: #3742fa !important; }
